html {
    font-size: 10px;
}
  
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

  
.panel {
    display: inline-flex;
    margin-right: 5rem; /* Added margin for spacing between panels */
    margin-bottom: 10rem;
}

.panel > * {
    border: 1px solid red;
    
}

.keys {
    
}

.key {
    flex: .1;
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 10px;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
    justify-content: center;
}


kbd {
    display: block;
    user-select: none;
    font-size: 4rem;
}

.circle {
    background: url('./circle\ of\ fifths.png') no-repeat bottom center;
    background-size: cover;
    height: fit-content;
    width: fit-content;
    height: 1000px;
    width: 750px;
    flex-shrink: 0;
}

.controls {
    display: inline-block;
    gap: 2rem;
}