html {
    font-size: 10px;
    background: url('./background.jpg') bottom center;
    background-size: cover;
}
  
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}
  
.panel {
    display: inline-flex;
    margin-right: 5rem; /* Added margin for spacing between panels */
    margin-bottom: 10rem;
    /* vertical-align: middle;  */
    /* display: flex; */
    /* flex-direction: column; */
}

.panel > * {
    border: 1px solid red;
    /* margin: 0;
    /* width: 100%; */
    /* transition: transform .5s;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;  */
}

.keys {
    
    /* display: grid;
    flex-wrap: wrap;
    min-height: 10vh;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1; */
}

.key {
    flex: .1;
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 10px;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
    justify-content: center;
}


kbd {
    display: block;
    user-select: none;
    font-size: 4rem;
}